<section class="section education-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-graduation-cap fa-stack-1x fa-inverse"></i>
    </span>
    Education
  </h2>

{% assign education = site.data.data.education %}
{% for graduation in education %}
  <div class="item">
    <h4 class="degree">{{ graduation.degree }}</h4>
    <h5 class="meta">{{ graduation.school }} ({{ graduation.time }})</h5>
    <div class="time">{{ graduation.description }}</div>
  </div>
  {% endfor %}

</section>

<!-- TODO: Split awards into own document? -->
<section class="section awards-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-award fa-stack-1x fa-inverse"></i>
    </span>
    Awards + Designations
  </h2>

{% assign awards = site.data.data.awards %}
{% for award in awards %}
  <div class="item">
    <h4 class="degree">{{ award.name }}</h4>
    <h5 class="meta">{{ award.organization }} ({{ award.time }})</h5>
    <div class="time">{{ award.description }}</div>
  </div>
  {% endfor %}

</section>
